<!DOCTYPE html>
<html>
  <head>
    <title>Loan Application</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Loan Application</h1>
    <p>Please click on below button to initiate loan application</p>
    <form action="/loan/application/start" method="POST">
      <input type="submit" value="Apply for Loan" />
    </form>
  </body>
</html>
